@page
@model esquire.sms.Pages.User.ReportDetailsModel
@{
    ViewData["Title"] = "SMS History Details";
    ViewData["Page"] = @Url.RouteUrl(ViewContext.RouteData.Values);
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">SMS History Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-page="#">Home</a></li>
                    <li class="breadcrumb-item active">SMS History Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Any discrepancies must be communicated within three (3) days of receipt.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>MessageId</th>
                                    <th>Message</th>
                                    <th>Date Time Sent</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.SMSData)
                                {
                                    <tr>
                                        <td>@row.MessageId</td>
                                        <td>@row.Message</td>
                                        <td>@row.DateTimeSent.ToString()</td>
                                        <td class="@(row.Status == "SUCCESS" ? "text-success" : "text-danger")">@row.Status</td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>MessageId</th>
                                    <th>Message</th>
                                    <th>Date Time Sent</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</section>
@section Scripts {
    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
